{
  "AWSTemplateFormatVersion" : "2010-09-09",
  "Description" : "Cassandra cluster CloudFormation template file.\nSeed Node *3 + Non Node *1, Amazon Linux(2017.09), Cassandra 3.x, Java 1.8.0.x",
  "Metadata" : {
    "AWS::CloudFormation::Interface" : {
      "ParameterGroups" : [
        {
          "Label" : { "default" : "Basic Settings" },
          "Parameters" : [ "ClusterName", "InstanceType", "KeyName" ]
        },
        {
          "Label" : { "default" : "Cassandra Settings" },
          "Parameters" : [ "PrimarySeedNodeIpAddress", "SecondarySeedNodeIpAddress" ]
        },
        {
          "Label" : { "default" : "Network Settings" },
          "Parameters" : [ "VPC", "VPCCidrBlock", "PrimarySubnetId", "SecondarySubnetId" ]
        }
      ],
      "ParameterLabels" : {
        "VPC" : { "default" : "using VPC(ID)" },
        "VPCCidrBlock" : { "default" : "using VPC(CIDR Block)" },
        "PrimarySubnetId" : { "default" : "Primary Subnet" },
        "SecondarySubnetId" : { "default" : "Secondary Subnet" },
        "PrimarySeedNodeIpAddress" : { "default" : "Seed Node's IP Address (Primary)" },
        "SecondarySeedNodeIpAddress" : { "default" : "Seed Node's IP Address (Secondary)" },
        "KeyName" : { "default" : "Keypair's Name" },
        "InstanceType" : { "default" : "EC2 Instance Type" },
        "ClusterName" : { "default" : "Cassandra Cluster Name" }
      }
    }
  },
  "Parameters" : {
    "VPC" : {
      "Description" : "Your existing Virtual Private Cloud (VPC)",
      "Type" : "AWS::EC2::VPC::Id"
    },
    "VPCCidrBlock" : {
      "Description" : "CIDR Block of Virtual Private Cloud (VPC). ex) 172.1.0.0/16",
      "Type" : "String"
    },
    "PrimarySubnetId" : {
      "Description" : "Primary subnet ID in your Virtual Private Cloud (VPC)",
      "Type" : "AWS::EC2::Subnet::Id"
    },
    "SecondarySubnetId" : {
      "Description" : "Secondary subnet ID in your Virtual Private Cloud (VPC)",
      "Type" : "AWS::EC2::Subnet::Id"
    },
    "PrimarySeedNodeIpAddress" : {
      "Description" : "The IP address of seed node in primary subnet.",
      "Type" : "String",
      "AllowedPattern": "(\\d{1,3})\\.(\\d{1,3})\\.(\\d{1,3})\\.(\\d{1,3})",
      "ConstraintDescription": "must be a valid IP address of the form x.x.x.x."
    },
    "SecondarySeedNodeIpAddress" : {
      "Description" : "The IP address of seed node in secondary subnet.",
      "Type" : "String",
      "AllowedPattern": "(\\d{1,3})\\.(\\d{1,3})\\.(\\d{1,3})\\.(\\d{1,3})",
      "ConstraintDescription": "must be a valid IP address of the form x.x.x.x."
    },
    "KeyName" : {
      "Description" : "Name of an existing EC2 KeyPair to enable SSH access to the instances",
      "Type": "AWS::EC2::KeyPair::KeyName",
      "Default": ""
    },
    "InstanceType": {
      "Description": "EC2 instance type",
      "Type": "String",
      "Default": "m3.medium",
      "AllowedValues": [
                "t2.small",
                "t2.micro",
                "t2.medium",
                "t2.large",
                "m3.medium",
                "m3.large",
                "m3.xlarge",
                "m3.2xlarge",
                "m4.large",
                "m4.xlarge",
                "m4.2xlarge",
                "m4.4xlarge",
                "m4.10xlarge",
                "c3.large",
                "c3.xlarge",
                "c3.2xlarge",
                "c3.4xlarge",
                "c3.8xlarge",
                "c4.large",
                "c4.xlarge",
                "c4.xlarge",
                "c4.2xlarge",
                "c4.4xlarge",
                "c4.8xlarge",
                "r3.large",
                "r3.xlarge",
                "r3.2xlarge",
                "r3.4xlarge",
                "r3.8xlarge"
      ],
      "ConstraintDescription": "must be a valid EC2 instance type."
    },
    "ClusterName" : {
      "Default" : "Cassandra-Cluster",
      "Description" : "The name of this Cassandra cluster",
      "Type" : "String"
    }
  },
  "Mappings" : {
    "AWSAmazonLinuxAMI": {
      "us-east-1":        { "name":"Virginia",  "201709": "ami-55ef662f" },
      "us-east-2":        { "name":"Ohio",  "201709": "ami-15e9c770" },
      "us-west-1":        { "name":"California",  "201709": "ami-a51f27c5" },
      "us-west-2":        { "name":"Oregon",  "201709": "ami-bf4193c7" },
      "ca-central-1":     { "name":"Canada",  "201709": "ami-d29e25b6" },
      "eu-west-1":        { "name":"Ireland",  "201709": "ami-1a962263" },
      "eu-west-2":        { "name":"London",  "201709": "ami-e7d6c983" },
      "eu-central-1":     { "name":"Frankfurt",  "201709": "ami-bf2ba8d0" },
      "ap-northeast-1": { "name":"Tokyo", "201709": "ami-da9e2cbc" },
      "ap-northeast-2": { "name":"Seoul", "201709": "ami-1196317f" },
      "ap-southeast-1": { "name":"Singapole", "201709": "ami-ff4ea59d" },
      "ap-southeast-2": { "name":"Sydney", "201709": "ami-ff4ea59d" },
      "ap-south-1":       { "name":"Mumbai", "201709": "ami-d5c18eba" },
      "sa-east-1":          { "name":"SaoPaulo", "201709": "ami-286f2a44" }
    }
  },
  "Resources" : {
    "CassandraRole" : {
      "Type" : "AWS::IAM::Role",
      "Properties" : {
        "AssumeRolePolicyDocument" : {
          "Statement": [ {
            "Effect": "Allow",
              "Principal": {
                "Service": [ "ec2.amazonaws.com" ]
              },
              "Action": [ "sts:AssumeRole" ]
          } ]
        },
        "Path" : "/",
        "Policies" :[ {
          "PolicyName" : "PowerUserPolicy",
          "PolicyDocument" : {
            "Statement": [ {
              "Sid": "PowerUserStmt",
              "Effect": "Allow",
              "NotAction": "iam:*",
              "Resource": "*"
            } ]
          }
        }]
      }
    },
    "CassandraProfile" : {
      "Type" : "AWS::IAM::InstanceProfile",
      "Properties" : {
        "Roles" : [ { "Ref" : "CassandraRole" } ]
      }
    },
    "CassandraSecurityGroup" : {
      "Type" : "AWS::EC2::SecurityGroup",
      "Properties" : {
        "VpcId" : { "Ref" : "VPC" },
        "GroupDescription" : "Allow all communications in VPC",
        "SecurityGroupIngress" : [
          { "IpProtocol" : "tcp", "FromPort" : "0", "ToPort" : "65535", "CidrIp" : { "Ref" : "VPCCidrBlock" } },
          { "IpProtocol" : "udp", "FromPort" : "0", "ToPort" : "65535", "CidrIp" : { "Ref" : "VPCCidrBlock" } },
          { "IpProtocol" : "icmp", "FromPort" : "-1", "ToPort" : "-1", "CidrIp" : { "Ref" : "VPCCidrBlock" } },
          { "IpProtocol" : "tcp", "FromPort" : "22", "ToPort" : "22", "CidrIp" : "0.0.0.0/0" },
          { "IpProtocol" : "tcp", "FromPort" : "9042", "ToPort" : "9042", "CidrIp" : { "Ref" : "VPCCidrBlock" } }
        ]
      }
    },

    "PrimarySeedNodeInstance" : {
      "Type" : "AWS::EC2::Instance",
      "CreationPolicy" : {
        "ResourceSignal" : {
          "Timeout" : "PT5M"
        }
      },
      "Properties" : {
        "InstanceType": { "Ref" : "InstanceType" },
        "KeyName": { "Ref" : "KeyName" },
        "ImageId": { "Fn::FindInMap" : [ "AWSAmazonLinuxAMI", { "Ref" : "AWS::Region" }, "201709" ]},
        "SubnetId" : { "Ref" : "PrimarySubnetId" },
        "PrivateIpAddress" : { "Ref" : "PrimarySeedNodeIpAddress" },
        "SecurityGroupIds": [
          { "Ref" : "CassandraSecurityGroup" }
        ],
        "IamInstanceProfile": { "Ref" : "CassandraProfile" },
        "InstanceInitiatedShutdownBehavior" : "stop",
        "Tags" : [
          { "Key" : "Name", "Value" : "Cassandra-Seed1" }
        ],
        "UserData" : { "Fn::Base64" : { "Fn::Join" : ["", [
          "#! /bin/bash -v\n",
          "yum update -y\n",

          "# Install packages\n",
          "/opt/aws/bin/cfn-init -v --stack ", { "Ref" : "AWS::StackName" }, " --resource PrimarySeedNodeInstance ",
          "    --region ", { "Ref" : "AWS::Region" }, "\n",

          "# All is well so signal success\n",
          "/opt/aws/bin/cfn-signal -e $? --stack ", { "Ref" : "AWS::StackName" }, " --resource PrimarySeedNodeInstance ",
          "    --region ", { "Ref" : "AWS::Region" }, "\n",
        ]]}}
      },
      "Metadata" : {
        "AWS::CloudFormation::Init" : {
          "configSets" : {
            "default" : [
              "configure_hosts",
              "install_java8",
              "install_repo",
              "install_cassandra"
            ]
          },
          "configure_hosts" : {
            "commands" : {
              "01-create_hosts_entry-on_boot" : {
                "command" : "echo \"`curl -s curl http://169.254.169.254/latest/meta-data/local-ipv4` `hostname`\" >>/etc/hosts",
                "test" : "test ! -f .create_hosts_entry-semaphore"
              },
              "02-signal_startup_complete" : {
                "command" : "touch .create_hosts_entry-semaphore"
              }
            }
          },
          "install_java8" : {
            "packages" : {
              "yum" : {
                "java-1.8.0-openjdk.x86_64" : []
              }
            },
            "commands" : {
              "use_java8" : {
                "command" : "alternatives --set java /usr/lib/jvm/jre-1.8.0-openjdk.x86_64/bin/java"
              }
            }
          },
          "install_repo" : {
            "files" : {
              "/etc/yum.repos.d/datastax.repo" : {
                "content" : { "Fn::Join" : ["\n", [
                  "[datastax]",
                  "name = DataStax Repo for Apache Cassandra",
                  "baseurl = http://rpm.datastax.com/community",
                  "enabled = 1",
                  "gpgcheck = 0"
                ]]},
                "mode"    : "000644",
                "owner"   : "root",
                "group"   : "root"
              }
            }
          },
          "install_cassandra" : {
            "packages" : {
              "yum" : {
                "dsc30" : []
              }
            },
            "files" : {
              "/etc/cassandra/default.conf/cassandra.yaml" : {
                "content" : { "Fn::Join" : ["", [
                  "cluster_name: '", { "Ref" : "ClusterName" }, "'\n",
                  "num_tokens: 256\n",
                  "hinted_handoff_enabled: true\n",
                  "max_hint_window_in_ms: 10800000\n",
                  "hinted_handoff_throttle_in_kb: 1024\n",
                  "max_hints_delivery_threads: 2\n",
                  "hints_directory: /var/lib/cassandra/hints\n",
                  "authenticator: AllowAllAuthenticator\n",
                  "authorizer: AllowAllAuthorizer\n",
                  "permissions_validity_in_ms: 2000\n",
                  "partitioner: org.apache.cassandra.dht.Murmur3Partitioner\n",
                  "data_file_directories:\n",
                  "    - /var/lib/cassandra/data\n",
                  "commitlog_directory: /var/lib/cassandra/commitlog\n",
                  "disk_failure_policy: stop\n",
                  "key_cache_size_in_mb:\n",
                  "key_cache_save_period: 14400\n",
                  "row_cache_size_in_mb: 0\n",
                  "row_cache_save_period: 0\n",
                  "saved_caches_directory: /var/lib/cassandra/saved_caches\n",
                  "commitlog_sync: periodic\n",
                  "commitlog_sync_period_in_ms: 10000\n",
                  "commitlog_segment_size_in_mb: 32\n",
                  "seed_provider:\n",
                  "    - class_name: org.apache.cassandra.locator.SimpleSeedProvider\n",
                  "      parameters:\n",
                  "          - seeds: \"", { "Ref" : "PrimarySeedNodeIpAddress" }, ",", { "Ref" : "SecondarySeedNodeIpAddress" }, "\"\n",
                  "concurrent_reads: 32\n",
                  "concurrent_writes: 32\n",
                  "trickle_fsync: false\n",
                  "trickle_fsync_interval_in_kb: 10240\n",
                  "storage_port: 7000\n",
                  "ssl_storage_port: 7001\n",
                  "listen_address: ", { "Ref" : "PrimarySeedNodeIpAddress" }, "\n",
                  "start_native_transport: true\n",
                  "native_transport_port: 9042\n",
                  "start_rpc: true\n",
                  "rpc_address: ", { "Ref" : "PrimarySeedNodeIpAddress" }, "\n",
                  "rpc_port: 9160\n",
                  "rpc_keepalive: true\n",
                  "rpc_server_type: sync\n",
                  "thrift_framed_transport_size_in_mb: 15\n",
                  "incremental_backups: false\n",
                  "snapshot_before_compaction: false\n",
                  "auto_snapshot: true\n",
                  "tombstone_warn_threshold: 1000\n",
                  "tombstone_failure_threshold: 100000\n",
                  "column_index_size_in_kb: 64\n",
                  "compaction_throughput_mb_per_sec: 16\n",
                  "read_request_timeout_in_ms: 5000\n",
                  "range_request_timeout_in_ms: 10000\n",
                  "write_request_timeout_in_ms: 2000\n",
                  "cas_contention_timeout_in_ms: 1000\n",
                  "truncate_request_timeout_in_ms: 60000\n",
                  "request_timeout_in_ms: 10000\n",
                  "cross_node_timeout: false\n",
                  "endpoint_snitch: Ec2Snitch\n",
                  "dynamic_snitch_update_interval_in_ms: 100\n",
                  "dynamic_snitch_reset_interval_in_ms: 600000\n",
                  "dynamic_snitch_badness_threshold: 0.1\n",
                  "request_scheduler: org.apache.cassandra.scheduler.NoScheduler\n",
                  "server_encryption_options:\n",
                  "    internode_encryption: none\n",
                  "    keystore: conf/.keystore\n",
                  "    keystore_password: cassandra\n",
                  "    truststore: conf/.truststore\n",
                  "    truststore_password: cassandra\n",
                  "client_encryption_options:\n",
                  "    enabled: false\n",
                  "    keystore: conf/.keystore\n",
                  "    keystore_password: cassandra\n",
                  "internode_compression: all\n",
                  "inter_dc_tcp_nodelay: false\n"
                ]]},
                "mode"    : "000644",
                "owner"   : "cassandra",
                "group"   : "cassandra"
              }
            },
            "services" : {
              "sysvinit" : {
                "cassandra"  : { "enabled" : "true", "ensureRunning" : "true" }
              }
            }
          }
        }
      }
    },

    "SecondarySeedNodeInstance" : {
      "Type" : "AWS::EC2::Instance",
      "CreationPolicy" : {
        "ResourceSignal" : {
          "Timeout" : "PT5M"
        }
      },
      "DependsOn" : "PrimarySeedNodeInstance",
      "Properties" : {
        "InstanceType": { "Ref" : "InstanceType" },
        "KeyName": { "Ref" : "KeyName" },
        "ImageId": { "Fn::FindInMap" : [ "AWSAmazonLinuxAMI", { "Ref" : "AWS::Region" }, "201709" ]},
        "SubnetId" : { "Ref" : "SecondarySubnetId" },
        "PrivateIpAddress" : { "Ref" : "SecondarySeedNodeIpAddress" },
        "SecurityGroupIds": [
          { "Ref" : "CassandraSecurityGroup" }
        ],
        "IamInstanceProfile": { "Ref" : "CassandraProfile" },
        "InstanceInitiatedShutdownBehavior" : "stop",
        "Tags" : [
          { "Key" : "Name", "Value" : "Cassandra-Seed2" }
        ],
        "UserData" : { "Fn::Base64" : { "Fn::Join" : ["", [
          "#! /bin/bash -v\n",
          "yum update -y\n",

          "# Install packages\n",
          "/opt/aws/bin/cfn-init -v --stack ", { "Ref" : "AWS::StackName" }, " --resource SecondarySeedNodeInstance ",
          "    --region ", { "Ref" : "AWS::Region" }, "\n",

          "# All is well so signal success\n",
          "/opt/aws/bin/cfn-signal -e $? --stack ", { "Ref" : "AWS::StackName" }, " --resource SecondarySeedNodeInstance ",
          "    --region ", { "Ref" : "AWS::Region" }, "\n",
        ]]}}
      },
      "Metadata" : {
        "AWS::CloudFormation::Init" : {
          "configSets" : {
            "default" : [
              "configure_hosts",
              "install_java8",
              "install_repo",
              "install_cassandra"
            ]
          },
          "configure_hosts" : {
            "commands" : {
              "01-create_hosts_entry-on_boot" : {
                "command" : "echo \"`curl -s curl http://169.254.169.254/latest/meta-data/local-ipv4` `hostname`\" >>/etc/hosts",
                "test" : "test ! -f .create_hosts_entry-semaphore"
              },
              "02-signal_startup_complete" : {
                "command" : "touch .create_hosts_entry-semaphore"
              }
            }
          },
          "install_java8" : {
            "packages" : {
              "yum" : {
                "java-1.8.0-openjdk.x86_64" : []
              }
            },
            "commands" : {
              "use_java8" : {
                "command" : "alternatives --set java /usr/lib/jvm/jre-1.8.0-openjdk.x86_64/bin/java"
              }
            }
          },
          "install_repo" : {
            "files" : {
              "/etc/yum.repos.d/datastax.repo" : {
                "content" : { "Fn::Join" : ["\n", [
                  "[datastax]",
                  "name = DataStax Repo for Apache Cassandra",
                  "baseurl = http://rpm.datastax.com/community",
                  "enabled = 1",
                  "gpgcheck = 0"
                ]]},
                "mode"    : "000644",
                "owner"   : "root",
                "group"   : "root"
              }
            }
          },
          "install_cassandra" : {
            "packages" : {
              "yum" : {
                "dsc30" : []
              }
            },
            "files" : {
              "/etc/cassandra/default.conf/cassandra.yaml" : {
                "content" : { "Fn::Join" : ["", [
                  "cluster_name: '", { "Ref" : "ClusterName" }, "'\n",
                  "num_tokens: 256\n",
                  "hinted_handoff_enabled: true\n",
                  "max_hint_window_in_ms: 10800000\n",
                  "hinted_handoff_throttle_in_kb: 1024\n",
                  "max_hints_delivery_threads: 2\n",
                  "hints_directory: /var/lib/cassandra/hints\n",
                  "authenticator: AllowAllAuthenticator\n",
                  "authorizer: AllowAllAuthorizer\n",
                  "permissions_validity_in_ms: 2000\n",
                  "partitioner: org.apache.cassandra.dht.Murmur3Partitioner\n",
                  "data_file_directories:\n",
                  "    - /var/lib/cassandra/data\n",
                  "commitlog_directory: /var/lib/cassandra/commitlog\n",
                  "disk_failure_policy: stop\n",
                  "key_cache_size_in_mb:\n",
                  "key_cache_save_period: 14400\n",
                  "row_cache_size_in_mb: 0\n",
                  "row_cache_save_period: 0\n",
                  "saved_caches_directory: /var/lib/cassandra/saved_caches\n",
                  "commitlog_sync: periodic\n",
                  "commitlog_sync_period_in_ms: 10000\n",
                  "commitlog_segment_size_in_mb: 32\n",
                  "seed_provider:\n",
                  "    - class_name: org.apache.cassandra.locator.SimpleSeedProvider\n",
                  "      parameters:\n",
                  "          - seeds: \"", { "Ref" : "PrimarySeedNodeIpAddress" }, ",", { "Ref" : "SecondarySeedNodeIpAddress" }, "\"\n",
                  "concurrent_reads: 32\n",
                  "concurrent_writes: 32\n",
                  "trickle_fsync: false\n",
                  "trickle_fsync_interval_in_kb: 10240\n",
                  "storage_port: 7000\n",
                  "ssl_storage_port: 7001\n",
                  "listen_address: ", { "Ref" : "SecondarySeedNodeIpAddress" }, "\n",
                  "start_native_transport: true\n",
                  "native_transport_port: 9042\n",
                  "start_rpc: true\n",
                  "rpc_address: ",{ "Ref" : "SecondarySeedNodeIpAddress" }, "\n",
                  "rpc_port: 9160\n",
                  "rpc_keepalive: true\n",
                  "rpc_server_type: sync\n",
                  "thrift_framed_transport_size_in_mb: 15\n",
                  "incremental_backups: false\n",
                  "snapshot_before_compaction: false\n",
                  "auto_snapshot: true\n",
                  "tombstone_warn_threshold: 1000\n",
                  "tombstone_failure_threshold: 100000\n",
                  "column_index_size_in_kb: 64\n",
                  "compaction_throughput_mb_per_sec: 16\n",
                  "read_request_timeout_in_ms: 5000\n",
                  "range_request_timeout_in_ms: 10000\n",
                  "write_request_timeout_in_ms: 2000\n",
                  "cas_contention_timeout_in_ms: 1000\n",
                  "truncate_request_timeout_in_ms: 60000\n",
                  "request_timeout_in_ms: 10000\n",
                  "cross_node_timeout: false\n",
                  "endpoint_snitch: Ec2Snitch\n",
                  "dynamic_snitch_update_interval_in_ms: 100\n",
                  "dynamic_snitch_reset_interval_in_ms: 600000\n",
                  "dynamic_snitch_badness_threshold: 0.1\n",
                  "request_scheduler: org.apache.cassandra.scheduler.NoScheduler\n",
                  "server_encryption_options:\n",
                  "    internode_encryption: none\n",
                  "    keystore: conf/.keystore\n",
                  "    keystore_password: cassandra\n",
                  "    truststore: conf/.truststore\n",
                  "    truststore_password: cassandra\n",
                  "client_encryption_options:\n",
                  "    enabled: false\n",
                  "    keystore: conf/.keystore\n",
                  "    keystore_password: cassandra\n",
                  "internode_compression: all\n",
                  "inter_dc_tcp_nodelay: false\n"
                ]]},
                "mode"    : "000644",
                "owner"   : "cassandra",
                "group"   : "cassandra"
              }
            },
            "services" : {
              "sysvinit" : {
                "cassandra"  : { "enabled" : "true", "ensureRunning" : "true" }
              }
            }
          }
        }
      }
    },
    
    "CassandraNode1" : {
      "Type" : "AWS::EC2::Instance",
      "CreationPolicy" : {
        "ResourceSignal" : {
          "Timeout" : "PT5M"
        }
      },
      "DependsOn" : "SecondarySeedNodeInstance",
      "Properties" : {
        "InstanceType": { "Ref" : "InstanceType" },
        "KeyName": { "Ref" : "KeyName" },
        "ImageId": { "Fn::FindInMap" : [ "AWSAmazonLinuxAMI", { "Ref" : "AWS::Region" }, "201709" ]},
        "SubnetId" : { "Ref" : "PrimarySubnetId" },
        "SecurityGroupIds": [
          { "Ref" : "CassandraSecurityGroup" }
        ],
        "IamInstanceProfile": { "Ref" : "CassandraProfile" },
        "InstanceInitiatedShutdownBehavior" : "stop",
        "Tags" : [
          { "Key" : "Name", "Value" : "Cassandra-Node1" }
        ],
        "UserData" : { "Fn::Base64" : { "Fn::Join" : ["", [
          "#! /bin/bash -v\n",
          "yum update -y\n",

          "# Install packages\n",
          "/opt/aws/bin/cfn-init -v --stack ", { "Ref" : "AWS::StackName" }, " --resource CassandraNode1 ",
          "    --region ", { "Ref" : "AWS::Region" }, "\n",

          "# All is well so signal success\n",
          "/opt/aws/bin/cfn-signal -e $? --stack ", { "Ref" : "AWS::StackName" }, " --resource CassandraNode1 ",
          "    --region ", { "Ref" : "AWS::Region" }, "\n",
        ]]}}
      },
      "Metadata" : {
        "AWS::CloudFormation::Init" : {
          "configSets" : {
            "default" : [
              "configure_hosts",
              "install_java8",
              "install_repo",
              "install_cassandra"
            ]
          },
          "configure_hosts" : {
            "commands" : {
              "01-create_hosts_entry-on_boot" : {
                "command" : "echo \"`curl -s curl http://169.254.169.254/latest/meta-data/local-ipv4` `hostname`\" >>/etc/hosts",
                "test" : "test ! -f .create_hosts_entry-semaphore"
              },
              "02-signal_startup_complete" : {
                "command" : "touch .create_hosts_entry-semaphore"
              }
            }
          },
          "install_java8" : {
            "packages" : {
              "yum" : {
                "java-1.8.0-openjdk.x86_64" : []
              }
            },
            "commands" : {
              "use_java8" : {
                "command" : "alternatives --set java /usr/lib/jvm/jre-1.8.0-openjdk.x86_64/bin/java"
              }
            }
          },
          "install_repo" : {
            "files" : {
              "/etc/yum.repos.d/datastax.repo" : {
                "content" : { "Fn::Join" : ["\n", [
                  "[datastax]",
                  "name = DataStax Repo for Apache Cassandra",
                  "baseurl = http://rpm.datastax.com/community",
                  "enabled = 1",
                  "gpgcheck = 0"
                ]]},
                "mode"    : "000644",
                "owner"   : "root",
                "group"   : "root"
              }
            }
          },
          "install_cassandra" : {
            "packages" : {
              "yum" : {
                "dsc30" : []
              }
            },
            "files" : {
              "/etc/cassandra/default.conf/cassandra.yaml" : {
                "content" : { "Fn::Join" : ["", [
                  "cluster_name: '", { "Ref" : "ClusterName" }, "'\n",
                  "num_tokens: 256\n",
                  "hinted_handoff_enabled: true\n",
                  "max_hint_window_in_ms: 10800000\n",
                  "hinted_handoff_throttle_in_kb: 1024\n",
                  "max_hints_delivery_threads: 2\n",
                  "hints_directory: /var/lib/cassandra/hints\n",
                  "authenticator: AllowAllAuthenticator\n",
                  "authorizer: AllowAllAuthorizer\n",
                  "permissions_validity_in_ms: 2000\n",
                  "partitioner: org.apache.cassandra.dht.Murmur3Partitioner\n",
                  "data_file_directories:\n",
                  "    - /var/lib/cassandra/data\n",
                  "commitlog_directory: /var/lib/cassandra/commitlog\n",
                  "disk_failure_policy: stop\n",
                  "key_cache_size_in_mb:\n",
                  "key_cache_save_period: 14400\n",
                  "row_cache_size_in_mb: 0\n",
                  "row_cache_save_period: 0\n",
                  "saved_caches_directory: /var/lib/cassandra/saved_caches\n",
                  "commitlog_sync: periodic\n",
                  "commitlog_sync_period_in_ms: 10000\n",
                  "commitlog_segment_size_in_mb: 32\n",
                  "seed_provider:\n",
                  "    - class_name: org.apache.cassandra.locator.SimpleSeedProvider\n",
                  "      parameters:\n",
                  "          - seeds: \"", { "Ref" : "PrimarySeedNodeIpAddress" }, ",", { "Ref" : "SecondarySeedNodeIpAddress" }, "\"\n",
                  "concurrent_reads: 32\n",
                  "concurrent_writes: 32\n",
                  "trickle_fsync: false\n",
                  "trickle_fsync_interval_in_kb: 10240\n",
                  "storage_port: 7000\n",
                  "ssl_storage_port: 7001\n",
                  "listen_address: #LISTEN_ADDRESS#\n",
                  "start_native_transport: true\n",
                  "native_transport_port: 9042\n",
                  "start_rpc: true\n",
                  "rpc_address: #LISTEN_ADDRESS#\n",
                  "rpc_port: 9160\n",
                  "rpc_keepalive: true\n",
                  "rpc_server_type: sync\n",
                  "thrift_framed_transport_size_in_mb: 15\n",
                  "incremental_backups: false\n",
                  "snapshot_before_compaction: false\n",
                  "auto_snapshot: true\n",
                  "tombstone_warn_threshold: 1000\n",
                  "tombstone_failure_threshold: 100000\n",
                  "column_index_size_in_kb: 64\n",
                  "compaction_throughput_mb_per_sec: 16\n",
                  "read_request_timeout_in_ms: 5000\n",
                  "range_request_timeout_in_ms: 10000\n",
                  "write_request_timeout_in_ms: 2000\n",
                  "cas_contention_timeout_in_ms: 1000\n",
                  "truncate_request_timeout_in_ms: 60000\n",
                  "request_timeout_in_ms: 10000\n",
                  "cross_node_timeout: false\n",
                  "endpoint_snitch: Ec2Snitch\n",
                  "dynamic_snitch_update_interval_in_ms: 100\n",
                  "dynamic_snitch_reset_interval_in_ms: 600000\n",
                  "dynamic_snitch_badness_threshold: 0.1\n",
                  "request_scheduler: org.apache.cassandra.scheduler.NoScheduler\n",
                  "server_encryption_options:\n",
                  "    internode_encryption: none\n",
                  "    keystore: conf/.keystore\n",
                  "    keystore_password: cassandra\n",
                  "    truststore: conf/.truststore\n",
                  "    truststore_password: cassandra\n",
                  "client_encryption_options:\n",
                  "    enabled: false\n",
                  "    keystore: conf/.keystore\n",
                  "    keystore_password: cassandra\n",
                  "internode_compression: all\n",
                  "inter_dc_tcp_nodelay: false\n"
                ]]},
                "mode"    : "000644",
                "owner"   : "cassandra",
                "group"   : "cassandra"
              }
            },
            "commands" : {
              "set_listen_address" : {
                "command" : "sed -i -e \"s/#LISTEN_ADDRESS#/$(curl -s curl http://169.254.169.254/latest/meta-data/local-ipv4)/\" /etc/cassandra/default.conf/cassandra.yaml "
              }
            },
            "services" : {
              "sysvinit" : {
                "cassandra"  : { "enabled" : "true", "ensureRunning" : "true" }
              }
            }
          }
        }
      }
    }
  }
}